<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title>Entry to exe Launcher</title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body { margin: 0; overflow: hidden; }
        iframe { width: 100vw; height: 97vh; border: none; }
    </style>
</head>
<body bkid="<%=bkid%>">
    <%- include('frame') %>
    <div id="main">
        <iframe src="https://playentry.org/iframe/(Program ID)"></iframe>
        <!-- (Program ID)에 자신의 작품 링크중 자신의 아이디 뒤 부터 끝까지의 ID를 넣어주세요. -->
        <!-- https://playentry.org/project/5fa68f6fa366b0025ea9fe96 -> 5fa68f6fa366b0025ea9fe96 -->
    </div>
</body>
</html>
